<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance of Thymer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Notification - Thymer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Thymer WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Thymer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E35D0C51AC33AEC00BB4282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E35D0DE1AC33AED00BB4282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E35D1011AC33D9200BB4282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E35D12D1AC33DA300BB4282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
